html {
    margin: 0;
    padding: 0;
}

body, main {
    color: white;
    background-color: #3e3e3e;
    /*background-image: url('white.jpg');*/
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    padding: 0;
}

footer {
    margin-top: 3em;
    margin-bottom: 1em;
    color: gray;
}

.hidden {
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    overflow: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-shrink: 0;
    background-color: rgb(58, 52, 128);
    overflow: auto;
}

nav a {
    flex-shrink: 0;
    color: white;
    font-weight: bold;
    font-size: large;

    padding: 0.5em 1.5em;
    margin: 0.75em 2em;
    border-radius: 1em;

    transition: background-color 1s;
}

nav a:hover {
    background-color: #3e3e3e;
    color: white;
}

nav .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    width: 15vw;
    height: 3em;
}

nav button {
    border-left: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

nav button:hover {
    background: #ccc;
}

/***********************************************/
/* H tag styles                                */
/***********************************************/
h1 {
    margin-top: 2rem;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    background: rgb(58, 52, 128);
    color: white;
    font-size: xxx-large;
    font-weight: Bold;
}

/***********************************************/
/* Feed Page                                   */
/***********************************************/
.postButton, .sendButton {
    width: 10em;
    height: 3em;
    font-weight: bold;
    color: rgb(58, 52, 128);
    border-radius: 1em;
    text-align: center;
    transition: background-color 0.3s;
    border: black;
}

.postButton:hover, .sendButton:hover {
    background-color: rgb(58, 52, 128);
    color: white;
}

ol {
    display: flex;
    flex-direction: column;
}

.aPost, .aMessage, .aChat, .aRequest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 50vw;
    max-width: 80vw;
    width: 550px;
    padding: 1em;
    border: 1px solid #000;
    margin: 1em auto;
    list-style: none;
}

.aPost {
    flex-direction: column;
}

.aPost.hidden {
    padding: 0;
    margin: 0;
    border: 0;
}

.aComment {
    display: flex;
    margin-bottom: 1vh;
}

.aComment img {
    width: 10%;
    border-radius: 50%;
}

.aComment a {
    font-size: 1rem;
}

.aComment button {
    margin-right: 2vw;
}

#post_content {
   font-size: 1.5rem;
}

.post_bottom {
    display: flex;
    flex-direction:column-reverse;
    max-height: 15vh;
}

#commentWrapper {
    overflow:auto;
}

.aMessage {
    border-radius: 40px;
    width: auto;
    height: auto;
}

.post-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: gray;
}

.div-delete-button {
    margin-left: auto;
}

.delete-button {
    height: 25px;
    width: 25px;
    padding: 0;
    border: 0;
}

.post-profile-picture {
    width: 20%;
}

.postText, .messageText {
    text-align: left;
    margin-left: 2em;
    margin-right: 1em;
}

.postDate {
    color: gray;
}

.newPostBox {
    margin-bottom: 4em;
}

.createPost {
    width: 75vw;
    height: 5vw;
}

.profile-picture {
    max-width: 200px;
}
/***********************************************/
/* Chat Page                       */
/***********************************************/
.chatName {
    font-size: xx-large;
    background-color: inherit;
    margin-top: 0;
}

.chatWrapper {
    overflow:auto;
    display:flex;
    flex-direction:column-reverse;
    height: 70vh;
}

.aMessage {
    border-radius: 40px;
}

.aChat {
    flex-direction: column;
}

#chat-top {
    display: flex;
}

.createMessage {
    min-width: 40vw;
    max-width: 70vw;
    width: 500px;
    min-height: 5vh;
    height: 50px;
}

.sendButton {
    min-width: 5vw;
    max-width: 10vw;
    width: 50px;
    min-height: 5vh;
    height: 50px;
}

/***********************************************/
/* Personal Profile Page                       */
/***********************************************/

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(58, 52, 128);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flat-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.aRequest {
    flex-direction: row;
}

/***********************************************/
/* User Search Page                            */
/***********************************************/

.user-search-link {
    font-size: xx-large;
}

/***********************************************/
/* Sign-in styles                              */
/***********************************************/
/*body {*/
/*    padding-top: 40px;*/
/*    padding-bottom: 40px;*/
/*    background-color: #eee;*/
/*}*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
