@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Montserrat&family=Philosopher&display=swap');

html {
    margin: 0;
    padding: 0;
}

body, main {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    padding: 0;
}

footer {
    margin-top: 3em;
    padding-bottom: 1em;
    color: white;
    font-weight: bold;
}

.hidden {
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    overflow: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    background-color: #242526;
    overflow: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 0.5em 1.5em;
    transition: background-color 0.5s, color 0.5s;
}

nav a:hover {
    background-color: #3A3B3C;
    color: #666666;
    text-decoration: none;
}

#profile-anchor {
    width: 12%;
}

nav img {
    width: 10%;
    border-radius: 50%;
}

nav .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    width: 15vw;
    height: 3em;
    background-color: transparent;
    border: none;
}

nav button {
    width: 3em;
    height: 3em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-width: 0 1px 0 0;
}

nav button:hover {
    color: #543884;
}

/***********************************************/
/* Shared Styles                                */
/***********************************************/
#prev, #next {
    color: white;
    border: none;
    background-color: inherit;
    font-size: 3em;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#nPages, #pageIndicator {
    margin-left: 10px;
    margin-right: 10px;
}

#myQuery {
    min-width: 30vw;
}

.aPost, .adminRecord, .aComment, .aGroup, .about, .aChat, .aMessage, .aRequest {
    background-color: #242526;
}
#group-creation-form input, #group-creation-form select {
    width: 20vw;
    height: 3vh;
}

form input[type= "text"], form input[type= "search"], form input[type= "email"], form input[type= "password"],
form select, #myQuery {
    background-color: #3A3B3C;
    color: white;
    border: none;
}

form input[type= "text"]:focus, form input[type= "search"]:focus, form input[type= "email"]:focus,
form input[type= "password"]:focus, form select:focus {
    background-color: #3A3B3C;
    color: white;
}

#feed-icon, #inbox-icon, #group-icon, #logout-icon, #admin-icon, #login-icon, #register-icon, #guest-icon, #li-guest-icon  {
    color: dodgerblue;
}


/***********************************************/
/* Homepage styles                                */
/***********************************************/

#index main, #login-page main {
    background-color: transparent;
}

#index, #login-page {
    width: 100%;
    height: 100vh;
    background-image: url(https://picsum.photos/id/1067/2000/800);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login-page {
    height: 80vh;
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #18191A;

}

#index main, #index h1 {
    border: none;
}

#index h1 {
    padding-top: 20vh;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#index #unity-catchprase {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
}

#index main {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#login-page h2 {
    color: #3e3e3e;
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
}

#login-page button {
    margin-bottom: 2rem;
}

#login-page main {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.already-have-text {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

#login-page p a {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
}

.button-2, .button-3, .button-4 {
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2 {
    border: 2px solid black;
    color: rgba(0, 0, 0, 0.8);
}

.button-3 {
    border: 2px solid #3A3B3C;
    color: #3A3B3C;
}

.button-2:after, .button-3:after, .button-4:after {
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-2:after {
    background-color: rgba(0, 0, 0, 0.4);
}

.button-3:after {
    background-color: #3A3B3C;
}

.button-4:after {
    background-color: #543884;
}

.button-2:hover:after, .button-3:hover:after, .button-4:hover:after {
    transform: translate(0, 0);
}

.button-2:active, .button-3:active, .button-4:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-2:hover, .button-3:hover, .button-4:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-2, .button-3, .button-4 {
        padding: 0 40px;
    }
}

/***********************************************/
/* H tag styles                                */
/***********************************************/
h1 {
    margin-top: 2rem;
    padding: 1em;
    text-align: center;
    font-weight: Bold;
    color: white;
    font-size: 4vw;
    font-family: 'Philosopher', sans-serif;
}

#index h1, #login-page h1 {
    color: #3e3e3e;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 4vw;
}

/***********************************************/
/* Feed Page                                   */
/***********************************************/
.postButton, .sendButton {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-radius: 1em;
    text-align: center;
    border: black;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s;
}

.postButton {
    width: 15vw;
}

.sendButton {
    width: auto;
    margin-left: 0.5rem;
}

.createMessageWrapper {
    display: flex;
    justify-content: center;
}

.postButton:hover, .sendButton:hover {
    color: #543884;
}

ol {
    display: flex;
    flex-direction: column;
}

.aPost, .aMessage, .aChat, .aRequest, .adminRecord, .aGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 50vw;
    max-width: 80vw;
    width: 550px;
    padding: 1em;
    border: 1px solid #000;
    margin: 1em auto;
    list-style: none;
}

.aPost {
    flex-direction: column;
}

.aPost a, .aRequest a {
    color: white;
}

.aPost a:hover, .aRequest a:hover {
    color: #543884;
}

.delete-button {
    background-color: inherit;
    color: #543884;
    transition: color 0.5s;
}

.aPost.hidden {
    padding: 0;
    margin: 0;
    border: 0;
}

.aComment {
    display: flex;
    margin-bottom: 1vh;
}

.aComment img {
    width: 10%;
    border-radius: 50%;
}

.aComment a {
    font-size: 1rem;
}

.aComment button {
    margin-right: 2vw;
}

#post_content {
   font-size: 1.5rem;
}

.post_bottom {
    display: flex;
    flex-direction:column-reverse;
    max-height: 15vh;
}

#commentWrapper {
    overflow:auto;
    border-bottom: 1px solid grey;
}

.aMessage {
    border-radius: 40px;
    width: auto;
    height: auto;
}

.post-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: gray;
}

.div-delete-button {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-button {
    height: 25px;
    width: 25px;
    padding: 0;
    border: 0;
}

.delete-button:hover {
    color: white;
}

.post-profile-picture {
    width: 20%;
}

.postText, .messageText {
    text-align: left;
    margin-left: 2em;
    margin-right: 1em;
}

.postDate {
    color: gray;
}

.newPostBox {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

.createPost {
    width: 75vw;
    height: 5vw;
    margin-bottom: 1rem;
}

.profile-picture {
    max-width: 200px;
}

/***********************************************/
/* Groups Pages                       */
/***********************************************/
#edit-group-form select, #edit-group-form input {
    width: 100%;
    padding: 0.5rem 0.75rem;
}

#edit-group-form label {
    color: white;
    margin-right: 5vw;
}

#group-creation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey;
}

.group-posts-title {
    margin-bottom: 2rem;
    font-size: 2.5em;
}

#group-creation {
    min-width: 50vw;
    max-width: 80vw;
    width: 800px;
    padding: 1em;
    margin: 1em auto;
}

#group-creation h2 {
    text-align: left;
}

/***********************************************/
/* Chat Page                       */
/***********************************************/
.chatName {
    font-size: xx-large;
    background-color: inherit;
    margin-top: 2rem;
    border-bottom: 1px solid grey;
}

.chatWrapper {
    overflow:auto;
    display:flex;
    flex-direction:column-reverse;
    height: 70vh;
}

.aMessage {
    border-radius: 40px;
}

.aChat {
    flex-direction: column;
}

.aChat a {
    display: flex;
    justify-content: flex-end;
    color: #543884;
    font-weight: bold;
    font-size: 1.2em;
}

.aChat a:hover {
    color: white;
    text-decoration: none;
}

#chat-top {
    display: flex;
}

.createMessage {
    min-width: 40vw;
    max-width: 70vw;
    width: 500px;
    min-height: 5vh;
    height: 50px;
}

/***********************************************/
/* Admin Portal                                */
/***********************************************/
.adminRecord {
    flex-direction: row;
}

.adminRecord img {
    width: 10%;
}

.adminRecord a {
    font-size: x-large;
}

.adminRecord p {
    font-size: medium;
}

/***********************************************/
/* Group Page                       */
/***********************************************/
.aGroup a {
    font-size: x-large;
    color: #543884;
}

.aGroup h2 {
    font-size: large;
}

.aGroup p {
    font-size: large;
}

.aGroup a.user-search-link {
    font-size: large;
}

#group-about {
    margin-bottom: 4em;
}

#pending-text, #group-buttons form button {
    color: #543884;
}

#group-buttons button:hover {
    color: white;
}
/***********************************************/
/* Profile Pages                       */
/***********************************************/

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-header-left {
    display: flex;
    margin-right: 2rem;
}

.profile-header-right {
    flex-direction: column;
}

.profile-header-right button {
    margin-top: 2rem;
}

.flat-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.aRequest {
    flex-direction: row;
}

.about {
    min-width: 50vw;
    max-width: 80vw;
    width: 550px;
    padding: 1em;
    margin: 1em auto;
    text-align: left;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.about h2 {
    font-weight: bold;
}

.about em {
    font-size: 1.4em;
}

#other-user-post-like {
    justify-content: flex-end;
}

/***********************************************/
/* User Search Page                            */
/***********************************************/

.user-search-link {
    font-size: xx-large;
}

/***********************************************/
/* Sign-in styles                              */
/***********************************************/
#login-page {
    margin-top: 20vh;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
