<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UNIty</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../unity.css" type="text/css"/>
</head>

<body>

<header>
    <nav>

        <form class="search-container" th:action="@{/searchusers}" method="get">
            <input type="search" name="keyword" th:value="${keyword}" class="search-bar"
                   placeholder="Search for users...">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>

        <a href="/feed">Feed</a>
        <a href="/groups">Groups</a>
        <a href="/personalprofile">Profile</a>
        <a href="/messageinbox">Messages</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/adminportal">Admin</a>
        <a href="/logout">Log out</a>
    </nav>
</header>

<main>
    <h1 class="chatName" th:text="${chat.getParticipantOne().getFirstName()} + '\'s and '
  + ${chat.getParticipantTwo().getFirstName()} + '\'s chat'"></h1>

    <div class="chatWrapper">
        <p class="alert alert-danger" th:unless="${messages} and ${messages.size()}"> There are currently no messages
            available</p>
        <ol>
            <th:block th:each="message : ${messages}">
                <li class="aMessage">
                    <img th:src="${message.getAuthor().getProfilePicture()}" class="post-profile-picture">
                    <article class="messageText">
                        <em><h2 th:text="${message.getAuthor().getFullName()}"></h2></em>
                        <p th:text="${message.getMessageContent()}"></p>
                        <p class="postDate" th:text="|${message.getMessageDateTime}|"></p>
                    </article>
                </li>
            </th:block>
        </ol>
    </div>

    <!-- Form to create and send a new message -->
    <form class="createMessageWrapper" th:action="@{'/createnewchatmessage/{id}'(id=${chat.getId()})}" method="post">
        <input class="createMessage" type="text" id="messageContent" name="messageContent"
               placeholder="Message content..." maxlength="255" required>
        <button class="sendButton" type="submit"><i class="material-icons">send</i></button>
    </form>
</main>

<footer>&copy;Copyright 2022 Jakub Chamera</footer>

</body>
</html>