<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Personal Post</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../unity.css" type="text/css"/>
</head>
<body>
<header>
    <nav>

        <form class="search-container" th:action="@{/searchusers}" method="get">
            <input type="search" name="keyword" th:value="${keyword}" class="search-bar"
                   placeholder="Search for users...">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>

        <a href="/feed">Feed</a>
        <a href="/groups">Groups</a>
        <a href="/personalprofile">Profile</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/adminportal">Admin</a>
        <a href="/logout">Log out</a>
    </nav>
</header>
<main>
    <h1>Edit Personal Post</h1>

    <form class="newPostBox" th:if="${!editingGroupPost}"
          th:action="@{'/editpersonalpost/group{id}'(id=${post.getId()})}" method="post">
        <p>
            <label for="postContent" class="sr-only">Post Content</label>
            <input class="createPost" type="text" id="postContent" name="postContent"
                   th:value="|${post.postContent}|" maxlength="255" autofocus required>
            <button class="button-4" type="submit">Submit Changes</button>
    </form>

    <form class="newPostBox" th:if="${editingGroupPost}"
          th:action="@{'/editpersonalpost/group{id}/{gid}'(id=${post.getId()},gid=${post.getGroup().getId()} )}"
          method="post">
        <p>
            <label for="postContent" class="sr-only">Post Content</label>
            <input class="createPost" type="text" id="groupPostContent" name="groupPostContent"
                   th:value="|${post.postContent}|" maxlength="255" autofocus required>
            <button class="button-4" type="submit">Submit Changes</button>
    </form>

    <div class="flat-buttons">
        <form th:if="${!editingGroupPost}" method="get" action="/feed">
            <button class="postButton" type="submit">Back to feed</button>
        </form>

        <form th:if="${editingGroupPost}" method="get" th:action="@{'/group/{id}'(id=${post.group.getId()})}">
            <button class="postButton" type="submit">Back to group</button>
        </form>
    </div>

</main>

<footer>&copy;Copyright 2022 Jakub Chamera</footer>

</body>
</html>