<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UNIty</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="unity.css" type="text/css"/>
</head>

<body>
<header>
    <nav>

        <form class="search-container" th:action="@{/searchusers}" method="get">
            <input type="search" name="keyword" th:value="${keyword}" class="search-bar"
                   placeholder="Search for users...">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>

        <a href="/feed"><i id="feed-icon" class="material-icons 30">home</i> Feed</a>
        <a sec:authorize="isAuthenticated()" href="/personalprofile" id="profile-anchor">
            <img th:src="${#request.userPrincipal.principal.getProfilePicture}" alt="profile picture">Profile</a>
        <a sec:authorize="isAuthenticated()" href="/messageinbox"><i id="inbox-icon" class="material-icons 30">email</i> Messages</a>
        <a href="/groups"><i id="group-icon" class="material-icons 30">groups</i> Groups</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/adminportal"><i id="admin-icon" class="material-icons 30">admin_panel_settings</i>Admin</a>
        <a sec:authorize="!isAuthenticated()" href="/login"><i id="login-icon" class="material-icons 30">login</i> Log-in</a>
        <a sec:authorize="!isAuthenticated()" href="/register"><i id="register-icon" class="material-icons 30">app_registration</i>Register</a>
        <a sec:authorize="isAuthenticated()" href="/logout"><i id="logout-icon" class="material-icons 30">logout</i> Log out</a>
    </nav>
</header>

<main>
    <h1>Chats</h1>
    <p>Your existing chats are listed below</p>

    <p class="alert alert-danger" th:unless="${chats} and ${chats.size()}"> There are currently no chats available</p>

    <ol id="itemlist">
        <th:block th:each="chat : ${chats}">
            <li class="aChat">
                <div id="chat-top">
                    <img th:src="${chat.participantOne.getProfilePicture()}" class="post-profile-picture">
                    <img th:src="${chat.participantTwo.getProfilePicture()}" class="post-profile-picture">
                    <article class="postText">
                        <em>
                            <h2 th:text="${chat.participantOne.getFullName()+' and '+chat.participantTwo.getFullName()}"></h2>
                        </em>
                    </article>
                </div>
                <a th:href="@{chat +'/' + ${chat.getId()}}">View Messages</a>
            </li>
        </th:block>
    </ol>

    <span id="pagination">
            <button id="prev">&lt;</button>
            <span id="pageIndicator">0</span> of <span id="nPages">0</span>
            <button id="next">&gt;</button>
        </span>

</main>

<footer>&copy;Copyright 2022 Jakub Chamera</footer>

<script type="text/javascript" src="js/pagination.js"></script>

</body>
</html>