<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Personal Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="unity.css" type="text/css"/>
</head>

<body>

    <header>
        <nav>

            <form class="search-container" th:action="@{/searchusers}" method="get">
                <input type="search" name="keyword" th:value="${keyword}" class="search-bar" placeholder="Search for users...">
                <button type="submit"><i class="material-icons">search</i></button>
            </form>

            <a href="/feed">Feed</a>
            <a href="/groups">Groups</a>
            <a href="/personalprofile">Profile</a>
            <a href="/messageinbox">Messages</a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/adminportal">Admin</a>
            <a href="/logout">Log out</a>
        </nav>
    </header>

    <main>
        <div class="profile-header">
            <img th:src="${user.getProfilePicture}" class="profile-picture">
            <h1>[[${#request.userPrincipal.principal.fullName}]]</h1>
        </div>

        <label>[[${#request.userPrincipal.principal.getProfileBio}]]</label><br>
        <label>[[${#request.userPrincipal.principal.getAcademicCourse}]]</label><br><br>

        <p>
            <label>Email: [[${#request.userPrincipal.principal.username}]]</label> <br>
            <label>Role: [[${#request.userPrincipal.principal.getAuthorities}]]</label> <br>
        </p>

        <form method="get" action="/editpersonalprofile">
            <button class="postButton" type="submit">Edit Profile</button>
        </form>

        <form method="get" action="/friendlist">
            <button class="postButton" type="submit">Friend List</button>
        </form>

        <form method="get" action="/friendrequests">
            <button class="postButton" type="submit">Friend Requests</button>
        </form>

        <h2>Your Posts: </h2>

        <ol id="itemlist">
            <th:block th:each="post : ${posts}">
                <li class="aPost">

                    <img th:src="${post.postUser.getProfilePicture()}" class="post-profile-picture">
                    <article class="postText">
                        <em><h2 th:text="${post.postUser.getFullName()}"></h2></em>
                        <p th:text="|${post.postContent}|"></p>
                        <p class="postDate" th:text="|${post.getPostDateTime}|"></p>
                    </article>

                    <div class="div-delete-button" th:if="${post.postUser.getEmail() == principal.getName()}">
                        <form th:action="@{'/feed/deletepost/{id}'(id=${post.getId()})}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="delete-button" type="submit" value="delete"><i class="material-icons">clear</i></button>
                        </form>

                        <form th:action="@{'/editpersonalpost/{id}'(id=${post.getId()})}" method="get" >
                            <button class="delete-button" type="submit"> <i class="material-icons">edit</i></button>
                        </form> <br>
                    </div>

                </li>
            </th:block>
        </ol>

        <span id="pagination">
            <button id="prev">&lt;</button>
            <span id="pageIndicator">0</span> of <span id="nPages">0</span>
            <button id="next">&gt;</button>
        </span>

    </main>

    <footer>&copy;Copyright 2022 Jakub Chamera</footer>

    <script type="text/javascript" src="js/pagination.js"></script>

</body>
</html>