<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="../unity.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <header>
        <nav>
            <a href="/feed">Feed</a>
            <a href="/personalprofile">Profile</a>
            <a href="/messageinbox">Messages</a>
            <a href="/logout">Log out</a>
        </nav>
    </header>

    <main>
        <div class="profile-header">
            <img th:src="${user.getProfilePicture}" class="profile-picture">
            <b><h1 th:text="${user.getFullName()}"></h1></b>
            <form th:action="@{'/createnewchat/{id}'(id=${user.getId()})}" method="post" >
                <button class="delete-button" type="submit"> <i class="material-icons 30">chat</i></button>
            </form>
        </div>

        <p th:text="${user.getProfileBio()}"></p>
        <p th:text="${user.getAcademicCourse()}"></p>

        <h2>User's Posts: </h2>

        <ol>
            <th:block th:each="post : ${posts}">
                <li class="aPost">
                    <img th:src="${post.postUser.getProfilePicture()}" class="post-profile-picture">
                    <article class="postText">
                        <em><h2 th:text="${post.postUser.getFullName()}"></h2></em>
                        <p th:text="|${post.postContent}|"></p>
                        <p class="postDate" th:text="|${post.getPostDateTime}|"></p>
                    </article>
                </li>
            </th:block>
        </ol>
    </main>

    <footer>&copy;Copyright 2022 Jakub Chamera</footer>
</body>
</html>