<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UNIty</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../unity.css" type="text/css"/>
</head>

<body>

<header>
    <nav>

        <form class="search-container" th:action="@{/searchusers}" method="get">
            <input type="search" name="keyword" th:value="${keyword}" class="search-bar"
                   placeholder="Search for users...">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>

        <a href="/feed">Feed</a>
        <a href="/groups">Groups</a>
        <a sec:authorize="!isAuthenticated()" href="/login">Log-in</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Register</a>
        <a sec:authorize="isAuthenticated()" href="/personalprofile">Profile</a>
        <a sec:authorize="isAuthenticated()" href="/messageinbox">Messages</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/adminportal">Admin</a>
        <a sec:authorize="isAuthenticated()" href="/logout">Log out</a>
    </nav>

    <h1>User Search</h1>
</header>

<main>

    <div th:if="${param.searchusers}">
        <p class="alert alert-danger" th:unless="${users} and ${users.size()}"> There are currently no users
            available!</p>
    </div>

    <div th:if="${param.searchusers+'/'}">
        <p class="alert alert-danger" th:unless="${users} and ${users.size()}"> Oops, nobody matched your search
            criteria!</p>
    </div>


    <!-- Ordered list of users -->
    <ol id="listofusers">
        <th:block th:each="user : ${users}">
            <li class="aRequest">
                <img th:src="${user.getProfilePicture()}" class="post-profile-picture">
                <article class="postText">
                    <em><a class="user-search-link" th:href="@{profile+'/'+${user.getId()}}"
                           th:text="${user.getFullName()}"></a></em>
                    <p th:text="${user.getAcademicCourse()}"></p>
                    <p th:text="${user.getProfileBio()}"></p>
                </article>
            </li>
        </th:block>
    </ol>

    <span id="pagination">
        <button id="prev">&lt;</button>
        <span id="pageIndicator">0</span> of <span id="nPages">0</span>
        <button id="next">&gt;</button>
    </span>
</main>

<footer>&copy;Copyright 2022 Jakub Chamera</footer>

<script type="text/javascript" src="js/searchusers.js"></script>

</body>
</html>