<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="unity.css" type="text/css"/>
</head>

<body>

<header>
    <nav>

        <form class="search-container" action="searchusers" method="get">
            <input type="search" class="search-bar" placeholder="Search for users...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <a href="/feed">Feed</a>
        <a href="/personalprofile">Profile</a>
        <a href="/messageinbox">Messages</a>
        <a href="/logout">Log out</a>
    </nav>

    <h1>Search Users</h1>
</header>

<main>

    <p class="alert alert-danger" th:unless="${users} and ${users.size()}"> There are currently no users available</p>

    <!-- Ordered list of users -->
    <ol>
        <th:block th:each="user : ${users}">
            <li class="aPost">
                <img th:src="${user.getProfilePicture()}" class="post-profile-picture">
                <article class="postText">
                    <em><a th:href="@{profile+'/'+${user.getId()}}" th:text="${user.getFullName()}"></a></em>
                </article>
            </li>
        </th:block>
    </ol>

    <footer>&copy;Copyright 2022 Jakub Chamera</footer>

</main>

</body>
</html>